
.active-scale:active {
    transform: scale(0.96);
    transition: 0.1s;
}

.fw-600 {
    font-weight: 600;
}

.x-small {
    font-size: 11px;
}

/* Simple animations */
.animate__animated {
    animation-duration: 0.4s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate__fadeInRight {
    animation-name: fadeInRight;
}
    